{% extends 'base.html' %}

{% block meta %}
<title>Display</title>
{% endblock meta %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h2>Display</h2>
        </div>
    </div>

    <div class="row">
        <table class="table table-borderless">
            {% for item in isi %}
            <tr>
                <th>Mata Kuliah</th>
                <td>{{item.mata_kuliah}}</td>
            </tr>
            <tr>
                <th>Dosen Pengajar</th>
                <td>{{item.dosen}}</td>
            <tr>
                <th>Jumlah SKS</th>
                <td>{{item.jumlah_sks}}</td>
            </tr>
            <tr>
                <th>Deskripsi</th>
                <td>{{item.deskripsi}}</td>
            </tr>
            <tr>
                <th>Semester</th>
                <td>{{item.semester}}</td>
            </tr>
            <tr>
                <th>Ruang Kelas</th>
                <td>{{item.ruang_kelas}}</td>
            </tr>
             
        </table>
    </div>
    <div class="row">
        <div class="col text-center">
            <form>
                <button type="submit" class="btn btn-outline-danger btn-block" formaction="{% url 'main:del_matkul' item.mata_kuliah %}">Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}