{% extends 'base.html' %}

{% block meta %}
<title>Display</title>
{% endblock meta %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h2>Display</h2>
        </div>
    </div>

    <div class="row">
        <table class="table table-borderless">
            <tr>
                <th>Mata Kuliah</th>
                <th>Dosen Pengajar</th>
            </tr>
            {% for item in isi %}
            <tr>
                <td>{{item.mata_kuliah}}</td>
                <td>{{item.dosen}}</td>
                <td>
                    <form>
                        <button type="submit" class="btn btn-outline-info" formaction="{% url 'main:detail' item.mata_kuliah %}">Detail</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}